.article-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .article-card {
    grid-template-columns: 80px 1fr;
  }

  .article-card-image-container {
    width: 80px;
    height: 65px;
  }

  .article-card-right {
    display: none;
  }
}
