.article-card {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-top: 2px solid #000000;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
}

.article-card-image-container {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  display: flex;
}

.article-card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  display: block;
  flex-shrink: 0;
}

.article-card-middle {
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  flex: 1;
  text-align: left;
}

.article-card-title {
  margin-bottom: 0.5rem;
  color: black;
  font-size: 1.7rem;
}

.article-card-middle-bottom {
  color: #64748b;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.article-card-right {
  width: 90px;
  flex-shrink: 0;
  font-size: 0.8rem;
  color: #475569;
  padding-top: 0.15rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.2rem;
  height: 80px;
  overflow-wrap: break-word;
  word-break: break-word;
  align-self: flex-start;
  justify-self: flex-end;
}

article,
section,
aside,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
