:root {
  color-scheme: light dark;
  background-color: rgb(233, 229, 229);
  color: black;

  font-family: "Times New Roman", Times, serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
