.single-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.single-article-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
}

.single-article-data {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.single-article-img {
  height: 200px;
  display: flex;
  justify-content: flex-end;
}

.single-article-img img {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.single-article-title {
  display: flex;
  justify-content: flex-start;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  white-space: normal;
  word-break: break-word;
  padding: 0.5rem;
}

.single-article-body {
  padding: 0.5rem;
}

.single-article-metadata {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.4rem;
  text-align: right;
  font-size: 1rem;
  color: white;
  height: auto;
  padding-top: 0.25rem;
  height: 80px;
}

.single-article-votes-comments {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1rem;
  color: white;
  margin-top: auto;
  padding: 0.5rem;
}

.single-article-divider {
  width: 1px;
  height: 20rem;
  background-color: #94a3b8;
  opacity: 0.3;
  margin: 0 1rem;
  flex-shrink: 0;
  justify-content: flex-end;
}
